.youtube-extension-active .ytp-chrome-bottom,
.youtube-extension-active .ytp-chrome-top,
.youtube-extension-active .ytp-pause-overlay,
.youtube-extension-active .ytp-gradient-bottom,
.youtube-extension-active .ytp-gradient-top,
.youtube-extension-active .ytp-title,
.youtube-extension-active .ytp-watch-later-button,
.youtube-extension-active .ytp-share-button,
.youtube-extension-active .ytp-cards-button,
.youtube-extension-active .ytp-cards-teaser,
.youtube-extension-active .ytp-chrome-controls,
.youtube-extension-active .ytp-chrome-top-buttons,
.youtube-extension-active .ytp-next-button,
.youtube-extension-active .ytp-progress-bar-container,
.youtube-extension-active .ytp-subtitles-button,
.youtube-extension-active .ytp-play-button,
.youtube-extension-active .ytp-fullscreen-button,
.youtube-extension-active .ytp-miniplayer-button,
.youtube-extension-active .ytp-button,
.youtube-extension-active .ytp-settings-button,
.youtube-extension-active .ytp-hd-quality-badge {
    display: none;
}


.popup-content {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 16px;

  }
  
  p, ul {
    font-size: 14px;

  }

